<main id="root">

<script type="text/javascript">
window.bostonCollege = "<%= image_url('boston_college.jpg') %>"
window.airTran = "<%= image_url('air-tran.png') %>"
window.airTran2 = "<%= image_url('air-tran-2.png') %>"
</script>

</main>


<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

