.photos-container {
    /* dispp */
    width: 100%; 
    height: 444px;
    overflow: hidden; 
    min-width: 1500px;
    display: flex;
}

/* .photos-container:hover > div{
    filter: brightness(50%);
    /* opacity: 0.5; */
    
/* }  */

/* .photos-container:hover > div:first-child:hover {
    
    /* opacity: 1.0; */
    /* filter: brightness(1.65) */
    /* filter: none; */
/* }  */

/* .photo-container-half2:hover > div{
    filter: brightness(50%);
    /* opacity: 1; */
/* }  */

/* .photo-container-half2:hover > div:hover {
    filter: brightness(2.65);
    z-index: 99; 
} */

.photo-container-half1 {
    width: 50%;
    overflow: hidden;
    border: 1px solid #484848;
}

.photo-container-half2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.photo-half {
    width: 100%; 
    height: 100%;
}


.photo-quarter {
    width: 50.0%;
    height: 50%;
    border: 1px solid #484848;
    overflow: hidden;
}

.img-container {
    width: 100%; 
    height: 100%;
    transition: all 0.5s;
    transform: scale(1);
}

.photos-container:hover {
    filter: brightness(80%);
}

.img-container:hover {
     transform: scale(1.1);
     opacity: none !important;
     filter: brightness(1.20);
}


.listing-show-container {
    padding: 0 20px 0 245px;
    min-width: 959.05px;
    width: 60%;
}

.listing-show-title {
    color: #484848;
    font-size: 35px; 
    padding: 25px 25px 10px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-stretch: extra-expanded;
}


.listing-detail-container {
    display: flex; 
    flex-direction: column;
    padding: 25px; 
    font-family: 'Montserrat', sans-serif;
}
.first-collection {
    display: flex;
}

.listing-detail-container i{
    margin-right: 12px;
    font-size: 12px;
    margin-top: 3px;
    color: #484848;
}

.listing-house-details-container h1 {
    color: #484848;
    font-weight: 900;
    font-size: 14px;

}

.listing-house-details-container span {
    color: #484848;
    font-size: 13px;
    width: 100%;
}

.listing-house-details-container span span{
    margin-right: 9px;
}   

.listing-linebreak {
    border-bottom: 1px solid lightgray; 
    width: 100%; 
    padding: 10px 0; 
}

.listing-show-description {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #767676;
    font-stretch: condensed;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
}

.listing-container {
    min-width: 350px;
}

.google-map {
    width: 100%;
    height: 500px;
}

.map-show-container {
    padding: 0 25px 25px 25px; 
    
}

.map-show-container h1 {
    padding-top: 30px; 
    padding-bottom: 20px;
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 24px; 
    font-weight: 600;
}


#more {
    display: none;
}

.description-show {
    width: 100%; 
    height: 100%;
}

.show-more-button {
    color: #008489;
    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#myBtn:hover {
    text-decoration: underline;
}


.show-more-btn-container i {
    color: #008489;
    margin-left: 10px;
}

#icon-1:hover ~ #myBtn {
    text-decoration: underline;
}

#icon-2:hover ~ #myBtn {
    text-decoration: underline;
}

.listing-show-body {
    display: flex;
}

.booking-form-container {
    margin-top: 25px;
    width: 370px; 
    height: 460px;
    /* background-color: #00A699; */
}

.reserve-button {
    border-radius: 4px;
    padding: 15px;
    font-size: 15px;
    background-color: #FF5A5F;
    color: white;
    width: 86%;
    text-align: center;
    font-family: Arial;
    font-weight: 900;
}

.reserve-button:hover {
    cursor: pointer !important;
}

.booking-literal-form-container {
    height: 430px;
    width: 100%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    position: sticky;
    top: 0px; 
    background: white;
    min-width: 370px;
    /* display: flex;  */
    /* align-items: space-around; */
    
}

.the-literal-literal-container {
    height: 2000px;
    
}


.form-container {
    height: 30.66%;
    display: flex; 
    flex-direction: column; 
    /* align-items: space-between; */
    justify-content: space-around;
    text-align: center;
}


#bookings-show-star-reviews i {
    color: #008489;
    font-size: 8px;
    font-weight: 900;
}

.bookings-price-container {
    text-align: left;
    padding: 22px;
}

.bookings-linebreak {
    border-bottom: 1px solid lightgray; 
    width: 100%; 
    text-align: center !important;
    padding-top: 22px;
}

.bookings-price-header {
    font-size: 20px; 
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    font-weight: 700;
}

.bookings-per-night {
    color: #484848;
    font-size: 11px;
    /* font-weight: 900; */
    /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed; */
    font-family: 'Montserrat', sans-serif;
}

.bookings-span-mini-details {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 5px; */
}

.star-reviews {
    color: #484848;
}

.date-picker-calendar {
    width: 100%; 
    display: flex;
    padding: 0 25px;
    flex-direction: column;
}

.date-picker-calendar p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #484848;
    padding-bottom: 3px;
    font-size: 11px;
    font-weight: 900;
}

.DateInput_input.DateInput_input_1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    font-size: 17px !important;
    color: #757575 !important;
    text-align: left;

}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 {
    width: 100%; 

}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 input {
    padding: 9px 11px 7px 11px; 
}

.CalendarMonth.CalendarMonth_1 {
    display: hidden;
}

.CalendarMonth_caption.CalendarMonth_caption_1 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    font-weight: 600;
}

.DayPicker_weekHeader.DayPicker_weekHeader_1 small{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    font-size: 12px !important;
}

.CalendarMonth_table.CalendarMonth_table_1 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;

}

.CalendarMonth_table.CalendarMonth_table_1 tbody tr td{
    font-size: 12px;
    font-weight: 600;
}

.DayPickerKeyboardShortcuts_buttonReset.DayPickerKeyboardShortcuts_buttonReset_1.DayPickerKeyboardShortcuts_show.DayPickerKeyboardShortcuts_show_2.DayPickerKeyboardShortcuts_show__bottomRight.DayPickerKeyboardShortcuts_show__bottomRight_3 {
    display: none;
}


.availability {
    padding-top: 30px; 
    padding-bottom: 20px;
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 24px; 
    font-weight: 600;
    
}

.listing-availability-container {
    padding: 25px; 
}

.DayPicker_transitionContainer.DayPicker_transitionContainer_1.DayPicker_transitionContainer__horizontal.DayPicker_transitionContainer__horizontal_2 {
    width: 100% !important;
}

.calendar_conatiner {
    width: 100%;
}

/* .DayPicker.DayPicker_1.DayPicker__horizontal.DayPicker__horizontal_2.DayPicker__withBorder.DayPicker__withBorder_3 {
    width: 800px !important; 
} */


#your_unique_start_date_id:focus-within {
    border: none; 
}

#your_unique_end_date_id:focus-within {
    border: none; 
}

.guest-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px; 
    height: 45px; 
}


.guest-dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    bottom: 10%;
    background: white;
    border: 2px solid #efefef;
    border-top: 2px solid #008489;
    box-shadow: 2px 2px 5px #efefef; 
    padding: 15px; 
}

.guests {
    width: 100%;
    text-align: left; 
    color: #757575; 
    font-family: sans-serif;
    font-size: 16px; 
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    font-weight: 100;
    padding: 12px 29px; 
}

.show {
    display: block;
}

.guest-label {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #484848;
    padding-bottom: 3px;
    font-size: 11px;
    font-weight: 900;
}

.guest-container {
    margin-top: 20px; 
    width: 100%; 
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    /* pointer-events: none; */
}


.guests-select-container {
    display: flex;
    justify-content: space-between;
}

.guests-select-container:first-of-type {
    margin-bottom: 25px; 
}

.guests-select-container:nth-child(2) {
    margin-bottom: 15px; 
}


.adults {
    width: 50%;
    text-align: left; 
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    color: #484848;
    font-weight: 500;
    font-size: 17px; 

}

.buttons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.buttons-flex {
    display: flex;
    justify-content: row;
    text-align: right;
}

.button-styling {
    border-radius: 50%; 
    border: 1px solid #008489;
    /* padding: 6px;  */
    height: 35px; 
    width: 35px;
    text-align: center;
    color: #008489;
    /* margin: 0 25px; */
}

.button-styling:first-of-type {
    margin-right: 25px; 
}

.button-styling:last-of-type {
    margin-left: 25px; 
}

.guest-counter {
    padding-top: 7px; 
    padding-left: 5px; 
    padding-right: 5px; 
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed;
    color: #484848;
    font-weight: 500; 
    width: 30px; 
    text-align: center;
}

.guest-restrictions {
    font-size: 12px; 
    /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif, condensed; */
    font-family: 'Montserrat', sans-serif;
    color: #484848; 
    margin-top: 7px; 
}

.guest-display-flex {
    display: flex;
    justify-content: space-between; 
}

.guest-display-flex i {
    padding: 14px 14px; 
    color: #767676;
    font-size: 18px; 
    pointer-events: auto; 
}

.disabled {
    color: #BEDADC;
    border: 1px solid #BEDADC; 
}

.show-reviews-container {
    padding: 25px; 
}

.city {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    color: #767676;
    padding: 0 25px;
    
}


.playing-with-stars {
    font-size: 10px; 
}