.listing-map-search-container {
    /* display: grid; */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: column; */
}

.listing-map-google {
    width: 50%;
    height: 700px; 
    /* display: block; */
    /* position: absolute; */
}

.map-all-listings {
    width: 50%;
    height: 100%

    /* background-color: black;  */
}

