.listing-map-search-container {
    /* display: grid; */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: column; */
}

.listing-map-google {
    width: 50%;
    height: 740px; 
    /* display: block; */
    /* position: absolute; */
}

.map-all-listings {
    width: 50%;
    height: 740px;
    overflow: scroll;
    /* display: flex;  */
    /* flex-direction: column; */
    /* justify-content: space-around;  */
    /* background-color: black;  */
}

.map-all-listings li {
    margin-bottom: 300px !important; 

}

