.nav-bar {
    /* border: 1px solid lightgray; */
    display: flex; 
    justify-content: space-between; 
    /* padding: 10px; */
    align-content: center;
    width: 1500;
    z-index: 5;
    /* border-bottom: 1px solid black;  */
}


.nav-bar-text {
    display: flex; 
    align-items: center;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    /* color: #484848; */
    color: white;
    font-weight: 500; 
    font-size: 14px;
}


.logo {
    width: 64px; 
    height: 50px; 
}

.logo2 {
    /* background-image: url('air-tran.png'); */
    width: 125%; 
    height: 100%; 
    background-position: 100%; 
    background-size: cover; 
}

.nav-bar-left {
    display: flex; 
    text-align: center;
    margin-left: 17px;
}

.nav-bar a {
    display: flex; 
    align-items: center;
}


.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 450px; 
    height: 40px;
    margin: 20px;
    box-shadow: 2px 2px 5px lightgray;
}

.search-bar i {
    margin-left: 10px;
}

.search-bar input {
    font-family: Arial; 
    color: 	#767676;
    font-weight: 700;
}

.splash-background-image {
    background-image: url(https://www.bc.edu/content/bc-web/bcnews/campus-community/around-campus/BCPSA_2017/_jcr_content/par/youtube_video/image.img.jpg/1504799145512.jpg);
    background-size: 100% 100% !important;
    width: 100%;
    height: 900px;
    /* z-index: -1;  */
}

.rental-form {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px; 
    height: 474px; 
    width: 420px; 
    margin: 47px 60px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important
}

.rental-form {
    padding: 30px;
    font-family: Arial; 
    color: #484848;
    font-size: 31px; 
    font-weight: 600;
}

.homepage-button  {
    border-radius: 4px;
    padding: 15px;
    font-size: 15px;
    background-color: #FF5A5F;
    color: white;
    width: 100px;
}

.rental-form-container {
    display: flex; 
    justify-content: flex-end;
    text-align: center;
}

.host-hover {
    /* height: 100%;  */
    height: 45px; 
    display: flex; 
    align-items: center; 
    margin-right: 35px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.host-hover:hover {
    border-bottom: 1px solid white; 
    cursor: pointer;
}

.homepage-search-bar {
    border: 1px solid #efefef;
    border-radius: 3px; 
    padding: 12px;
    /* color: 	#757575; */
    font-size: 17px; 
    width: 100%;
    font-weight: 100;
    /* font-family: 'Montserrat', sans-serif;  */
}

.homepage-search-bar::placeholder {
    color: #757575;
    font-size: 16px;
    font-family: sans-serif;
}

.homepage-search-bar:focus {
    border: 1px solid #008489;

}

.where {
    font-size: 13px; 
    font-weight: 600;
}

.homepage-DATES {
    padding-bottom: 7px; 
    font-size: 13px; 
    font-weight: 600;
}

.homepage-date-labels {
    font-size: 13px; 
    margin-bottom: 5px;
}

.date-picker-homepage {
    display: flex;
    flex-direction: column;
}

.date-picker-homepage-container {
    display: flex; 
    flex-direction: row;
    width: 100%; 
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 .DateInput.DateInput_1{
    width: 100%;
    /* border-radius: 15px; */
    font-family: sans-serif !important;
    
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
    border: 1px solid #efefef !important; 
}


/* .SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 first-child:focus-within {
    border: 1px solid #008489;
} */


.pac-container {
    width: 450px !important;
    left: 100px !important;
    margin-top: 8px;
    border-top-right-radius: none; 
}

.pac-item {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 15px !important;
    padding: 12px; 
    border: none;
    color: #484848;
}

.pac-container.pac-logo.hdpi::after {
    display: none;
}

.DateInput_input.DateInput_input_1.DateInput_input__focused.DateInput_input__focused_2 {
    border-bottom: none; 
}

.DateInput_input.DateInput_input_1.DateInput_input__focused.DateInput_input__focused_2:focus-within {
    border: 1px solid  #008489;
   
}

#homepage-guest-container {
    width: 360px; 
}

.homepage-guest-dropdown {
    border: 1px solid #efefef;
    border-radius: 5px; 
    margin-top: 3px; 
}

.homepage-guests {
    color: #757575;
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: 100; 
    margin: 15px 10px; 
}

.homepage-guest-dropdown-content {
    display: none; 
    position: absolute;
    background: white; 
    width: 360px;
    padding: 15px; 
    border: 2px solid #efefef;
    border-top: 2px solid #008489;
    box-shadow: 2px 2px 5px #efefef; 
}

.show {
    display: block;
}

.homepage-guest-counter {
    font-size: 22px; 
    padding-top: 5px; 
}

.homepage-button-styling {
    border-radius: 50%; 
    border: 1px solid #008489;
    height: 35px; 
    width: 35px;
    text-align: center;
    color: #008489;
    font-size: 22px; 
    /* margin: 0 25px; */
}

.homepage-button-styling:first-of-type {
    margin-right: 25px; 
}

.homepage-button-styling:last-of-type {
    margin-left: 25px; 
}

.disabled {
    color: #BEDADC;
    border: 1px solid #BEDADC; 
}